fullJournal.xsd

<?xml version="1.0"?>

<!--
  * plugins/importexport/fullJournalTransfer/fullJournal.xsd
  *
  * Copyright (c) 2014-2024 Lepidus Tecnologia
  * Distributed under the GNU GPL v3. For full terms see the file docs/COPYING.
  -->

<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pkp.sfu.ca"
    xmlns:pkp="http://pkp.sfu.ca" elementFormDefault="qualified">

    <!--
	  - Base the native import/export schema on the PKP submission model.
	  -->
    <include schemaLocation="../../../plugins/importexport/native/native.xsd" />

    <include schemaLocation="../../../lib/pkp/plugins/importexport/users/pkp-users.xsd" />

    <element name="extended_article" substitutionGroup="pkp:submission">
		<complexType>
			<complexContent>
				<extension base="pkp:submission">
                    <sequence>
						<element ref="pkp:stage_assignment" minOccurs="0" maxOccurs="unbounded" />
						<element ref="pkp:review_rounds" minOccurs="0" maxOccurs="unbounded" />
						<element ref="pkp:editor_decisions" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
					<attribute name="stage" use="required">
						<simpleType>
							<restriction base="string">
								<enumeration value="submission" />
								<enumeration value="externalReview" />
								<enumeration value="editorial" />
								<enumeration value="production" />
							</restriction>
						</simpleType>
					</attribute>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="extended_articles" substitutionGroup="pkp:submissions" />

	<complexType name="journal">
		<sequence>
			<element name="email_signature" type="string" minOccurs="1" maxOccurs="1" />
			<element name="supported_locales" type="string" minOccurs="1" maxOccurs="1" />
			<element name="supported_form_locales" type="string" minOccurs="0" maxOccurs="1" />
			<element name="supported_submission_locales" type="string" minOccurs="0" maxOccurs="1" />
			<element name="contact_email" type="string" minOccurs="0" maxOccurs="1" />
			<element name="contact_name" type="string" minOccurs="0" maxOccurs="1" />
			<element name="contact_phone" type="string" minOccurs="0" maxOccurs="1" />
			<element name="mailing_address" type="string" minOccurs="0" maxOccurs="1" />
			<element name="online_issn" type="string" minOccurs="0" maxOccurs="1" />
			<element name="print_issn" type="string" minOccurs="0" maxOccurs="1" />
			<element name="publisher_institution" type="string" minOccurs="0" maxOccurs="1" />
			<element name="support_email" type="string" minOccurs="0" maxOccurs="1" />
			<element name="support_name" type="string" minOccurs="0" maxOccurs="1" />
			<element name="support_phone" type="string" minOccurs="0" maxOccurs="1" />
			<element name="acronym" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="author_information" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="clockss_license" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="librarian_information" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="lockss_license" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="name" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="open_access_policy" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="privacy_statement" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="reader_information" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="abbreviation" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="about" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="contact_affiliation" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="description" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="editorial_team" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="submission_checklist" minOccurs="1" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="submission_checklist_item" minOccurs="1" maxOccurs="unbounded" />
					</sequence>
					<attribute name="locale" type="string" />
				</complexType>
			</element>
			<element ref="pkp:plugins" minOccurs="0" maxOccurs="unbounded" />
			<element ref="pkp:navigation_menu_items" minOccurs="0" maxOccurs="unbounded" />
			<element ref="pkp:navigation_menus" minOccurs="0" maxOccurs="unbounded" />
			<element ref="pkp:PKPUsers" minOccurs="0" maxOccurs="unbounded" />
			<element ref="pkp:sections" minOccurs="0" maxOccurs="unbounded" />
			<element ref="pkp:extended_issue" minOccurs="0" maxOccurs="unbounded" />
			<element ref="pkp:extended_issues" minOccurs="0" maxOccurs="unbounded" />
			<element ref="pkp:extended_articles" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="seq" type="int" />
		<attribute name="url_path" type="string" />
		<attribute name="primary_locale" type="string" />
		<attribute name="enabled" type="string" />
		<attribute name="copyright_year_basis" type="string" />
		<attribute name="default_review_mode" type="string" />
		<attribute name="disable_submissions" type="boolean" />
		<attribute name="enable_oai" type="string" />
		<attribute name="items_per_page" type="string" />
		<attribute name="keywords" type="string" />
		<attribute name="membership_fee" type="string" />
		<attribute name="num_page_links" type="string" />
		<attribute name="num_weeks_per_response" type="string" />
		<attribute name="num_weeks_per_review" type="string" />
		<attribute name="publication_fee" type="string" />
		<attribute name="purchase_article_fee" type="string" />
		<attribute name="theme_plugin_path" type="string" />
	</complexType>

    <complexType name="extended_issue">
		<sequence>
			<element ref="pkp:id" minOccurs="0" maxOccurs="unbounded" />
			<element name="description" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element ref="pkp:issue_identification" minOccurs="1" maxOccurs="1" />
			<!-- Metadata -->
			<element name="date_published" type="date" minOccurs="0" maxOccurs="1" />
			<element name="date_notified" type="date" minOccurs="0" maxOccurs="1" />
			<element name="last_modified" type="date" minOccurs="0" maxOccurs="1" />
			<element name="open_access_date" type="date" minOccurs="0" maxOccurs="1" />
			<!-- sub elements -->
			<element ref="pkp:sections" minOccurs="0" maxOccurs="1" />
			<element ref="pkp:covers" minOccurs="0" maxOccurs="1" />
			<element ref="pkp:issue_galleys" minOccurs="0" maxOccurs="1" />
			<element ref="pkp:extended_articles" minOccurs="0" maxOccurs="1" />
		</sequence>
		<attribute name="journal_id" type="int" use="optional" />
		<attribute name="published" type="int" use="optional" />
		<attribute name="current" type="int" use="optional" />
		<attribute name="access_status" type="int" use="optional" />
		<attribute name="url_path" type="string" use="optional" />
	</complexType>
    
    <element name="extended_issues">
		<complexType>
			<sequence>
				<element ref="pkp:extended_issue" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

	<element name="plugins">
		<complexType>
			<sequence>
				<element ref="pkp:plugin" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

	<complexType name="plugin">
		<sequence>
			<element name="plugin_setting" type="pkp:plugin_setting" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="plugin_name" type="string" />
	</complexType>

	<complexType name="plugin_setting" mixed="true">
		<attribute name="setting_name" type="string" />
	</complexType>

	<element name="navigation_menu_items">
		<complexType>
			<sequence>
				<element ref="pkp:navigation_menu_item" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

	<complexType name="navigation_menu_item">
		<sequence>
			<element name="title" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="content" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="remote_url" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="id" type="int" />
		<attribute name="type" type="string" />
		<attribute name="path" type="string" />
		<attribute name="title_locale_key" type="string" use="optional"/>
	</complexType>

	<element name="navigation_menus">
		<complexType>
			<sequence>
				<element ref="pkp:navigation_menu" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

	<complexType name="navigation_menu">
		<sequence>
			<element name="title" type="string" minOccurs="1" maxOccurs="1" />
			<element name="area_name" type="string" minOccurs="1" maxOccurs="1" />
			<element name="navigation_menu_item_assignment" type="pkp:navigation_menu_item_assignment" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="navigation_menu_item_assignment" mixed="true">
		<attribute name="menu_item_id" type="int" />
		<attribute name="parent_id" type="int" />
		<attribute name="seq" type="int" />
	</complexType>

    <complexType name="stage_assignment">
		<attribute name="user" type="string" />
		<attribute name="user_group_ref" type="string" />
		<attribute name="stage" type="string" />
		<attribute name="recommend_only" type="int" />
		<attribute name="can_change_metadata" type="int" />
	</complexType>

	<element name="review_rounds">
		<complexType>
			<sequence>
				<element ref="pkp:review_round" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

    <complexType name="review_round">
		<sequence>
			<element ref="pkp:id" minOccurs="1" maxOccurs="1" />
			<element name="submission_id" type="int" minOccurs="1" maxOccurs="1" />
			<element name="stage" type="string" minOccurs="1" maxOccurs="1" />
			<element name="round" type="int" minOccurs="1" maxOccurs="1" />
			<element name="status" type="int" minOccurs="1" maxOccurs="1" />
			<element ref="pkp:review_assignments" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<element name="review_assignments">
		<complexType>
			<sequence>
				<element ref="pkp:review_assignment" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

    <complexType name="review_assignment">
		<sequence>
			<element name="date_rated" type="string" minOccurs="0" maxOccurs="1" />
			<element name="date_reminded" type="string" minOccurs="0" maxOccurs="1" />
			<element name="date_assigned" type="string" minOccurs="0" maxOccurs="1" />
			<element name="date_notified" type="string" minOccurs="0" maxOccurs="1" />
			<element name="date_confirmed" type="string" minOccurs="0" maxOccurs="1" />
			<element name="date_completed" type="string" minOccurs="0" maxOccurs="1" />
			<element name="date_acknowledged" type="string" minOccurs="0" maxOccurs="1" />
			<element name="date_due" type="string" minOccurs="0" maxOccurs="1" />
			<element name="date_response_due" type="string" minOccurs="0" maxOccurs="1" />
			<element name="last_modified" type="string" minOccurs="0" maxOccurs="1" />
			<element name="declined" type="boolean" minOccurs="1" maxOccurs="1" />
			<element name="cancelled" type="boolean" minOccurs="1" maxOccurs="1" />
			<element name="reminder_was_automatic" type="boolean" minOccurs="1" maxOccurs="1" />
			<element name="unconsidered" type="boolean" minOccurs="1" maxOccurs="1" />
		</sequence>
		<attribute name="id" type="int" />
		<attribute name="submission_id" type="int" />
		<attribute name="review_form_id" type="int" />
		<attribute name="review_round_id" type="int" />
		<attribute name="stage_id" type="int" />
		<attribute name="quality" type="int" />
		<attribute name="recommendation" type="int" />
		<attribute name="round" type="int" />
		<attribute name="review_method" type="int" />
		<attribute name="competing_interests" type="string" />
		<attribute name="reviewer" type="string" />
	</complexType>

    <element name="editor_decisions">
		<complexType>
			<sequence>
				<element ref="pkp:editor_decision" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

    <complexType name="editor_decision">
		<sequence>
            <element name="editor" type="string" minOccurs="1" maxOccurs="1" />
			<element name="date_decided" type="string" minOccurs="1" maxOccurs="1" />
		</sequence>
		<attribute name="submission_id" type="int" />
		<attribute name="review_round_id" type="int" />
		<attribute name="round" type="int" />
		<attribute name="stage_id" type="int" />
		<attribute name="decision" type="int" />
	</complexType>

	<element name="announcements">
		<complexType>
			<sequence>
				<element ref="pkp:announcement" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

    <complexType name="announcement">
		<sequence>
			<element ref="pkp:id" minOccurs="0" maxOccurs="unbounded" />
			<element name="date_expire" type="string" minOccurs="0" maxOccurs="1" />
			<element name="date_posted" type="string" minOccurs="1" maxOccurs="1" />
			<element ref="pkp:title" minOccurs="1" maxOccurs="unbounded" />
			<element name="description_short" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="description" type="pkp:localizedNode" minOccurs="0" maxOccurs="unbounded" />
			<element name="announcement_type_ref" type="string" maxOccurs="unbounded" />
		</sequence>
	</complexType>

    <element name="journal" type="pkp:journal" />
    <element name="extended_issue" type="pkp:extended_issue" />
    <element name="plugin" type="pkp:plugin" />
    <element name="navigation_menu_item" type="pkp:navigation_menu_item" />
    <element name="navigation_menu" type="pkp:navigation_menu" />
    <element name="announcement" type="pkp:announcement" />
	<element name="review_round" type="pkp:review_round" />
	<element name="stage_assignment" type="pkp:stage_assignment" />
	<element name="review_assignment" type="pkp:review_assignment" />
	<element name="editor_decision" type="pkp:editor_decision" />
</schema>